@model IEnumerable<dynamic> 

@{
    ViewData["Title"] = "Biblioteca - Materiales";
}

<h2>Materiales de la Biblioteca</h2>

<div class="mb-3">
  
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Autor/Edicion</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Titulo</td>
                <td>
                    @if (material.GetType().Name == "Libro")
                    {
                        <span class="badge bg-primary">Libro</span>
                    }
                    else if (material.GetType().Name == "revista")
                    {
                        <span class="badge bg-primary">Revista</span>
                    }
                </td>
                <td>
                    @if (material.GetType().Name == "Libro")
                    {
                        @material.Autor
                    }
                    else if (material.GetType().Name == "revista")
                    {
                        @material.Edicion
                    }
                </td>
                
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>